* {
  box-sizing: border-box;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: red;
  &__main {
  height: 60%;
  background-color: beige;
  display: flex;
    &__Logo {
      margin: 5px 20px;
      height: 30px;
      width: 100px;
    }
    &__form {
      height: 100%;
      width: 100%;
      padding-top: 10px;
      &__SearchInput {
        width: 70%;
        height: 20px;
      }
      &__SearchButton {
        height: 20px;
        margin-left: -5px;
        background-color: skyblue;
        color: white;
        border: none;
      }
    }
  }
}
