.header
  .header__main
    =link_to image_tag("/assets/logo.png", alt: 'FURIMA logo', class: 'header__main__Logo'), "/"
    =form_with(url: "/",local: true, method: :get, class: "header__main__form") do |form|
      =form.text_field :keyword, placeholder: "キーワードから検索する", class: "header__main__form__SearchInput"
      =button_tag type: 'submit',class: "header__main__form__SearchButton" do
        %i.fas.fa-search
  .header__navi
    .header__navi__left
      .header__navi__left__category カテゴリー
      .header__navi__left__brand ブランド
    .header__navi__right
      =link_to "ログイン", "/",class:"header__navi__right__login"
      =link_to "新規会員登録", "/", class: "header__navi__right__new" 
.main
  %section.main__FirstVisual
    .main__FirstVisual__subtitle 人生を変えるフリマアプリ
    .main__FirstVisual__text FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです
    .main__FirstVisual__button
      =link_to image_tag("/assets/google-play-badge.png", alt: 'app store', class: 'main__FirstVisual__button__store'), "/"
      =link_to image_tag("/assets/google-play-badge.png", alt: 'google play', class: 'main__FirstVisual__button__store'), "/"
  %section.main__FurimaIntro
    .main__FurimaIntro__subtitle FURIMAが選ばれる3つの理由
    .main__FurimaIntro__items
      %ul.lists
        %li.list
          %span.number 1
