.header
  .header__main
    =link_to image_tag("/assets/logo.png", alt: 'FURIMA logo', class: 'header__main__Logo'), "/"
    =form_with(url: "/",local: true, method: :get, class: "header__main__form") do |form|
      =form.text_field :keyword, placeholder: "キーワードから検索する", class: "header__main__form__SearchInput"
  .header__navi
.main